# Python
__pycache__/
*.pyc

# Python virtual environment
backend/venv/

# Environment variables
backend/.env

# Node.js
frontend/node_modules/

# React build files
frontend/build/

# VS Code
.vscode/
